body{
    font-family: teyvat-font, sans-serif;
}

.front-page {
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.home-link {
    width: 100%;
    text-decoration: none;
}

.home-link:hover {
    text-decoration: none;
}

.home-link:active {
    text-decoration: none;
}

h4{
    font-size: 60px;

}

h3{
    font-size: 80px
}

h5{
    color: white;
    font-size: 30px;
    text-align: center;
}

h5.glow {
    color: white;
    letter-spacing: .7rem;
    text-align: center;
    -webkit-animation: glow1 2s ease-in-out infinite alternate;
    -moz-animation: glow1 2s ease-in-out infinite alternate;
    animation: glow1 2s ease-in-out infinite alternate;
}

h3.glow {
    color: white;
    letter-spacing: .7rem;
    text-align: center;
    -webkit-animation: glow2 2s ease-in-out infinite alternate;
    -moz-animation: glow2 2s ease-in-out infinite alternate;
    animation: glow2 2s ease-in-out infinite alternate;
}

@keyframes glow1 {
    from {
        text-shadow: 0 0 1px #fff, 0 0 2px #fff, 0 0 3px #e16100, 0 0 4px #e16100, 0 0 5px #e16100, 0 0 6px #e16100, 0 0 7px #e16100;
    }

    to {
        text-shadow: 0 0 2px #fff, 0 0 3px #fdc800, 0 0 4px #fdc800, 0 0 5px #fdc800, 0 0 6px #fdc800, 0 0 7px #fdc800, 0 0 8px #fdc800;
    }
}

@keyframes glow2 {
    from {
        text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fd01ea, 0 0 20px #fd01ea, 0 0 25px #fd01ea, 0 0 30px #fd01ea, 0 0 35px #fd01ea;
    }

    to {
        text-shadow: 0 0 10px #fff, 0 0 15px #3e28fa, 0 0 20px #3e28fa, 0 0 25px #3e28fa, 0 0 30px #3e28fa, 0 0 35px #3e28fa, 0 0 40px #3e28fa;
    }
}

@keyframes blinking {
    0% {opacity: 0}
    65% {opacity: 1}
    100% {opacity: 0}
}

@-o-keyframes blinking {
    0% {opacity: 0}
    65% {opacity: 1}
    100% {opacity: 0}
}

@-moz-keyframes blinking {
    0% {opacity: 0}
    65% {opacity: 1}
    100% {opacity: 0}
}

@-webkit-keyframes blinking {
    0% {opacity: 0}
    65% {opacity: 1}
    100% {opacity: 0}
}

.animate-blinking {
    -webkit-animation: blinking 5s infinite;
    -moz-animation: blinking 5s infinite;
    -o-animation: blinking 5s infinite;
    animation: blinking 5s infinite;
}